/* SOURCES */
/* Hiding hamburger menu with HTML&CSS (NO JS): https://codepen.io/erikterwan/pen/EVzeRP */

/* GENERAL DISPLAY */
body {
    margin: 0;
    width: 100%;
    font-family: 'Merienda One', cursive;
    background-color: #F2F2F2;
}

header {
    width: 100%;
    position: fixed;
    background-color: #F2F2F2;
    opacity: 0.8;
}

#main {
    padding-top: 80px;
}

.container {
    width: 80%;
    margin: 10px auto;
}

/* GENERAL TYPO */

.msg--big {
    font-size: 2em;
}

.msg--med {
    font-size: 1.3em;
}

/* NAVIGATION */
#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Molle', cursive;
}

.fa-cookie-bite {
    color:  #B25D00;
    padding: 6px 0 6px 5px;
}
.fa-cookie-bite::after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background-color:  #542C00;
    display: inline-block;
    position: relative;
    right: 38px;
    z-index: -1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.menu li {
    margin-right: 15px;
    padding: 0 4px;
}

.menu li:last-of-type {
    margin-right: 0px;
}

.menu li:hover {
    transform: scale(1.1);
}

.menu a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}
.menu a:hover {
    color: rgba(0,0,0,0.4);
}

/* Hero SECTION */

.hero video {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Presentation SECTION */

.presentation .container {
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 50%;
}

/* Product SECTION */
.products__title {
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
}

.products__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

.products__img {
    width: 150px;   
    height: 150px;
    margin: auto;
    text-align: center;
}

.products__img img {
    background-color: rgb(243,223,234);
    box-shadow: 0 0 8px 8px #fff inset;
}

.products__item {
    border: 1px solid #B25D00;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

.products__description {
    margin-top: 15px;
    padding: 10px;
}

video {
    width: 100%;
}

/* CONTACT SECTION */

#contact {
    text-align: center;
}

#contact #email {
    min-width: 210px;
}
#contact #submit {
    padding: 0;
}

.social {
    margin-top: 20px;
}

.social a {
    color: inherit;
    text-decoration: none;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-instagram:hover {
    color: #262626;
}

/* MEDIA QUERIES */

/* Add hamburger style menu */
@media (max-width : 768px) {
    #main {
        padding-top: 200px;
    }

    #header .container {
        margin-bottom: 0;
        background-color: red;
    }

    #nav-bar {
        flex-flow: column wrap;
    }
    
    .menu {        
        /* hiding the menu */
        /* position: absolute;
        right: -300px; */
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu ul {
        flex-direction: column;
        text-align: center;
    }

    .menu li {
        margin: 0;
    }
    
    /* hamburger */
    .menu span {
        display: block;
        width: 22px;
        height: 2px;
        margin: 0 auto 3px auto;
        position: relative;
        
        background: #B25D00;
        border-radius: 3px;
    
        z-index: 1;
        transform-origin: 4px 0px;
    }

    .menu span:first-child {
    transform-origin: 0% 0%;
    }

    .menu span:nth-last-child(2) {
    transform-origin: 0% 100%;
    }

    .pull-menu {
        padding: 5px 0;
    }

    .menu input {
        display: block;
        height: 20px;
        width: 20px;
        
        position: absolute;
        left: 295px;
        bottom: -5px;
        cursor: pointer;

        opacity: 0;
        z-index: 2;
    }
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    .menu input:checked ~ span {
        opacity: 1;
        width: 20px;
        transform: rotate(45deg) translate(-7px, -11px);
        background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    .menu input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    .menu input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 5px);
    }

}


