/* GENERAL DISPLAY */
body {
    margin: 0;
    width: 100%;
    font-family: 'Merienda One', cursive;
    background-color: #F2F2F2;
}

header {
    width: 100%;
    position: fixed;
    background-color: #F2F2F2;
    opacity: 0.8;
}

#main {
    padding-top: 80px;
}

.container {
    width: 80%;
    margin: 10px auto;
}

/* NAVIGATION */
#nav-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Molle', cursive;
}

.fa-cookie-bite {
    color:  #B25D00;
    padding: 6px 0 6px 5px;
}
.fa-cookie-bite::after {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background-color:  #542C00;
    display: inline-block;
    position: relative;
    right: 38px;
    z-index: -1;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.menu li {
    margin-right: 15px;
    padding: 0 4px;
}

.menu li:last-of-type {
    margin-right: 0px;
}

.menu li:hover {
    transform: scale(1.1);
}

.menu a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}
.menu a:hover {
    color: rgba(0,0,0,0.4);
}

/* Hero SECTION */

.hero video {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Presentation SECTION */

.presentation .container {
    display: flex;
    flex-direction: column; 
    text-align: center;
    width: 50%;
}

.presentation-msg--big {
    font-size: 2em;
}

.presentation-msg--med {
    font-size: 1.3em;

}

/* Product SECTION */
.products__title {
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
}

.products__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
}

.products__img {
    width: 150px;   
    height: 150px;
    margin: auto;
    text-align: center;
}

.products__img img {
    background-color: rgb(243,223,234);
    box-shadow: 0 0 8px 8px #fff inset;
}

.products__item {
    border: 1px solid #B25D00;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

.products__description {
    margin-top: 15px;
    padding: 10px;
}

video {
    width: 100%;
}
