body {
    background-color: #DBEBFF;
}

.box {
    width: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 150px;
    background-color: rgba(0,0,0,0.4);
}

#setting-container {
    width: 85%;
    position: relative;
    top: 15%;
    left: 8%;
    margin: 30px 0;
    display: grid;
    /* display: none; */
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 12px;
    justify-items: stretch;
}

.setting-title {
    grid-column: 1/2;
    font-size: 1.5em;
}

.length {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.length-title {
    flex-grow: 1; /* Allow the title to take the whole left space */
}

.button {
    width: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    cursor: default;
}

.set-value {
    width: 30px;
    text-align: center;
}

.timer {
    background-color:#baffc9;
}

.btn-start {

    grid-column: 2/3;
    grid-row: 1/5;
    justify-self: end;
    align-self: center;
}

.fa-clock {
    position: relative;
    left: 10%;
}

/* =====================
       Timer style
======================*/

#timer-container {
    height: 70px;
    display: flex;
    /* display: none; */
    justify-content: space-between;
    align-items: flex-end;
}

#timer-section {
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    color: #0D2625;
}

#progress {
    height: 100%;
    width: 20%;
    background: linear-gradient(to bottom, #2775c4 0%,#2989d8 40%,#7db9e8 100%);
}

.back-settings {
    margin: 5px 0 0 15px;
}

#timer-container .container {
    min-width: 50px;
    margin: 0 0 3px 15px;
}

#timer-val-min {
    font-size: 1.5em;
}

#timer-val-sec {
    position: relative;
    top: 3px;
    vertical-align: top;
    font-size: 0.6em;   
}

.btn-play {
    height: 100%;
    margin-top: 5px;
    width: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#pause {
    display: none;
}
