body {
    background-color: #DBEBFF;
}

.box {
    width: 500px;
    border: 1px solid black;
    margin: auto;
    margin-top: 150px;
    background-color: #9e9e9e;
}

#setting-container {
    position: relative;
    top: 15%;
    left: 8%;
    margin: 30px 0;
    display: grid;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-row-gap: 12px;
    justify-items: stretch;
    display: none;
}

.setting-title {
    font-size: 1.5em;
}

.length {
    width: 40%;
    display: flex;
    justify-content:flex-end;
}

.length-title {
    flex-grow: 1; /* Allow the title to take the whole left space */
}

.button {
    width: 15px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.set-value {
    width: 30px;
    text-align: center;
}

.timer {
    background-color:#baffc9;
}


/* =====================
       Timer style
======================*/

#timer-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#timer-section {
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#timer-val-min {
    font-size: 1.5em;
}

#timer-val-sec {
    position: relative;
    top: 3px;
    vertical-align: top;
    font-size: 0.6em;   
}

.btn-play {
    height: 100%;
    width: 80px;
    text-align: center;
    background-color: black;
    color: rgba(112, 106, 106, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pause {
    display: none;
}