body {
    text-align: center;
    background-color: #f5b822;
    color: #316796;
}

.container {
    width: 70%;
    min-width: 280px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.row {
    background-color: red;
    display:flex;
}

.labels {
    width: 50%;
    text-align: right;
    background-color: yellow;
    padding: 5px;
}

.rightTab {
    width: 50%;
    text-align: left;
}