* {
  color: #fff;
  font-size: 1em;
  box-sizing: border-box;
}

/* Remove the outline when selecting the search box */
*:focus {
  outline: none;
}

html {
  background: #6B6B6B;
}

body {
  width: 640px;
  // border: 2px solid #000;
  margin: auto;
  margin-top: 150px;
  text-align: center;
}

a {
  text-decoration: none;
}

.search-box {
  position: relative;
  color: #000;
  width: 50%;
  margin: auto;
}

.search-box .fa-search {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #000;
}

form input {
  height: 33px;
  width: 100%;
  color: #000;
  text-indent: 30px;
  padding: 2px 5px;
  border-radius: 10px;
  border-color: #000;
}

/*
  Search results
*/

#search-result {
  margin-bottom: 100px;
}

.search-result {
  background: #999;
  border-radius: 5px;
  padding: 15px;
  margin: 20px auto;
}

.search-result:hover {
  border: 1px solid #fff;
  padding: 14px;
}

.search-result p {
  margin: 0;
  margin-top: 15px;
  text-align: left;
}
