@import './components/variables';

body {
    text-align: center;
    background-color: $body-bg;
    color: $txt-color;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: #9F6217;
}

#app {
    width: 80%;
}

#drum-machine {
    background-color: $drum-bg;
    border: 5px solid $drum-border;
    width: 500px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    display: flex;

    #display {
        height: 30px;
        background-color: black;
        border: solid gray 10px;
        color: white;
    }
}