/*=================================================
                General properties
=================================================*/

html {
    background-color: #DBBDE5;
}

body > .container {
    width: 50%;
    background-color: #DDC6E7;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}


/*=================================================
                Header & Footer
=================================================*/

.title {
    font-family: 'Gochi Hand', cursive;
}

.title h1 {
    font-size: 3em;
    margin: 15px 0;
}

.footer {
    width: 30%;
    margin:auto;
    text-align: center;
}

/*=================================================
                    Board
=================================================*/

table { 
    margin: auto;
    margin-bottom: 15px;
}

td {
    height: 100px;
    width: 100px;
    color: #B5EFCE;
}

table tr:nth-of-type(2) td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table td:nth-of-type(2) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}