body {
    background: grey;
}

/*==============================
============ Navbar ============
==============================*/
.navbar {
    background-color: #fff;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar li {
    float: right;
    padding: 0 10px;
}



