body {
    background: grey;
    padding-top: 70px;
}

#footer .container {
    text-align: center;
}

/*==============================
============ Navbar ============
==============================*/
/* .navbar {
    background-color: #fff;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.navbar li {
    float: right;
    padding: 0 10px;
}


 */
