/* =====================
    General style
======================*/

body {
    background-color: #DBEBFF;
}

.box {
    width: 500px;
    border: 1px solid black;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Open Sans', sans-serif;
}

.pointer {
    cursor: pointer;
}

/* =====================
        Title
======================*/
#title {
    width: 500px;
    margin: auto;
    text-align: center;
    font-family: 'Courgette', cursive;
}


/* =====================
    Setting container
======================*/

#setting-container {
    width: 85%;
    position: relative;
    top: 15%;
    left: 8%;
    margin: 30px 0;
    display: grid;
    grid-template-rows: 2fr repeat(3, 1fr);
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 12px;
    justify-items: stretch;
}

.setting-title {
    grid-column: 1/2;
    font-size: 1.5em;
    font-weight: 700;
}

.setting-length {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
}

.length-title {
    flex-grow: 1; /* Allow the title to take the whole left space */
}

.button {
    width: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.set-value {
    width: 30px;
    text-align: center;
}

.timer {
    background-color:#baffc9;
}

.btn-start {
    font-weight: 600;
    grid-column: 2/3;
    grid-row: 1/5;
    justify-self: end;
    align-self: center;
    text-align: center;
}

/* =====================
    Timer container
======================*/

#timer-container {
    height: 100px;
    display: none;
    justify-content: space-between;
    align-items: flex-end;
}

#timer-section {
    height: 100%;
    display: flex;
    flex-grow: 1;
    color: #0D2625;
}

.back-settings {
    width: 170px;
    margin: 10px 0 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

#currTimer {
    color: #673567;
}

#timer-container .container {
    width: 100px;
    margin: 0 0 7px 15px;
}

#timer-val-min {
    font-size: 2em;
}

#timer-val-sec {
    position: relative;
    top: 3px;
    vertical-align: top;
    font-size: 1.2em; 
}

.btn-play {
    height: 100%;
    margin-top: 5px;
    width: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);   
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#pause {
    display: none;
}

/* progress bar */
#progress {
    height: 100%;
    width: 0%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.session {
    background: linear-gradient(to bottom, #e27a7c 0%,#d1272a 40%,#991e20 100%);
}

.break {
    background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 40%,#2775c4 100%);
}

.break-lg {
    background: linear-gradient(to bottom, #28d628 0%,#28d628 40%,#1e991e 100%);
}

/* =====================
       Footer style
======================*/

#footer {
    width: 500px;
    margin: 25px auto;
    text-align: center;
    font-size: 0.8em;
    line-height: 0.2em;
}