/*==========================
        General
==========================*/

body {
    background: url('http://images.all-free-download.com/images/graphiclarge/wood_grain_highdefinition_picture_3_169735.jpg');
}

.pointer {
    cursor: pointer;
}

/*==========================
        Board
==========================*/

#game-device {
    height: 700px;
    width: 700px;
    border-radius: 50%;
    margin: auto;
    background-color: #000;
    
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* outer circle */
#controls {
    height: 50%;
    width: 50%;
    background-color: black;
    
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
    
    border-radius: 50%;
}

/* inner circle */
#controls::before {
    content: '';
    height: 90%;
    width: 90%;
    
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 2;
    
    background-color: #C0C0C0;
    border-radius: 50%;
}

/*==========================
        Controls
==========================*/
#panel {
    height: 72%;
    width: 54%;
    
    position: absolute;
    bottom: 14%;
    left: 23%;
    z-index:3;
    
    display: grid;
    grid-template-rows: 3fr repeat(2, 1fr);
    text-align: center;
}

/* Head */

#head {
    font-size: 3em;
    align-self: center;
    font-family: 'Orbitron', sans-serif;
}

/* row toggle 1 */

#row-toggle-1 {
    /* grid */
    display: grid;
    grid-template-columns: 40% 56%;
    grid-column-gap: 4%;
}

.colDiv {
    display: grid;
    grid-template-rows: 1fr 1fr; 
}

/* Screen display */
.display {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    box-sizing: border-box;
    height: 90%;
    width: 80%;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #525c39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-content {
    color:#B80100;
    opacity: 0.5;
}

/* skill level toggle */
.skill-level .colDiv {
    grid-template-columns: repeat(7, 1fr);
}
.skill-level .slide__toggle {
    grid-column-start: 3;
}

.first {
    grid-column-start: 2;
}

.slide__toggle {
    height: 100%;
    grid-column: 1 / span 3;    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#580d00+0,ca1e00+45,ff4e2f+50,ff4e2f+50,ca1e00+55,761200+100 */
    background: #580d00; /* Old browsers */
    background: -moz-linear-gradient(left,  #580d00 0%, #ca1e00 45%, #ff4e2f 50%, #ff4e2f 50%, #ca1e00 55%, #761200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #580d00 0%,#ca1e00 45%,#ff4e2f 50%,#ff4e2f 50%,#ca1e00 55%,#761200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #580d00 0%,#ca1e00 45%,#ff4e2f 50%,#ff4e2f 50%,#ca1e00 55%,#761200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#580d00', endColorstr='#761200',GradientType=1 ); /* IE6-9 */
}

/* ON/OFF */

#power {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column-gap: 3px;
}

#power .colDiv {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

/* Last/Start/Longest */

#buttons {
    margin: 5px 0;
    /* grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.button {
    height: 22px;
    width: 22px;
    margin: auto;
    /* positioning */
    position: relative;
    /* styling */
    background-color:#000;
    border-radius: 50%;
}

.button::before {
    content: '';
    height: 60%;
    width: 60%;
    /* positioning */
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    /* styling */
    background-color:yellow;
    border-radius: 50%;
}

.js-strict::after {
    content: '';
    height: 20%;
    width: 20%;
    top: 40%;
    left: -40%;
    /* top: 40%;
    left: -20%; */
    position: absolute;
    background-color: #750100;
    border-radius: 50%;
}

.js-strict.active::after  {
    background-color: #FF0000;
}

.button.start::before {
    background-color: red;
}

.title {
    margin-top: 3px;
    font-size: 0.8em;
}

.power-slide__toggle {
    width: 80%;
    height: 70%;
    align-self: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#580d00+0,ca1e00+45,ff4e2f+50,ff4e2f+50,ca1e00+55,761200+100 */
    background: #580d00; /* Old browsers */
    background: -moz-linear-gradient(left,  #580d00 0%, #ca1e00 45%, #ff4e2f 50%, #ff4e2f 50%, #ca1e00 55%, #761200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #580d00 0%,#ca1e00 45%,#ff4e2f 50%,#ff4e2f 50%,#ca1e00 55%,#761200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #580d00 0%,#ca1e00 45%,#ff4e2f 50%,#ff4e2f 50%,#ca1e00 55%,#761200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#580d00', endColorstr='#761200',GradientType=1 ); /* IE6-9 */
}

/*==========================
        Buttons
==========================*/

/* buttons color from: http://www.color-hex.com/color-palette/17204 */

.game-button {
    /* box styling */
    height: 85%;
    width: 85%;
    /* positioning */
    position: relative;
    transition:all 0.2s ease-in-out;
    opacity: 0.5;
}

.top-left {
    /* box styling */
    border-radius: 100% 0 0 0;
    margin: 0 3% 3% 0;
    /* styling */
    align-self: end;
    justify-self: end;
    background-color: rgb(62,221,75);
}

.top-right {
    /* box styling */
    border-radius: 0 100% 0 0;
    margin: 0 0 3% 3%;
    /* styling */
    align-self: end;
    justify-self: start;
    background-color: rgb(221,75,62);
}

.bottom-right {
    /* box styling */
    border-radius: 0 0 100% 0;
    margin: 3% 0 0 3%;
    /* styling */
    align-self: start;
    justify-self: start;
    background-color: rgb(75,62,221);
}

.bottom-left {
    /* box styling */
    border-radius: 0 0 0 100%;
    margin: 3% 3% 0 0;
    /* styling */
    align-self: start;
    justify-self: end;
    background-color: rgb(255,234,55);
}

.active {
    transition:all 0.1s ease-in-out;
    opacity: 1;
}

/* test */

