body {
    background-color: #9DBFFF;
}

#markdown-box {
    min-width: 840px;
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding: 5px;
}

#textbox {
    display: flex;
    text-align: left;
    margin-bottom: 20px;
}

textarea, #preview {
    width: 50%;
    height: auto;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: hsla(210, 100%, 90%, 0.7);
}

textarea{
    resize: none;
    overflow: auto;
}

#preview { 

}